page-home .fixed-content{
    background-color: #4c5c5b;
    }
    h2{
        // padding-top: 80px;
        text-align: center;
        color: #fff;
    }
    h6{
        text-align: center;
        color: #fff;
    }
    .button{
        margin:auto;
        display: block;
       
    }
    img{
        margin: auto;
        margin-top: 70px;
        display: block;
        width: 150px;
        height: 150px;
    }
    